<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../partials/head"); %>
</head>
<body>
   <div class="nav"> 
<%- include("../partials/nav"); %>
</div>
<header id="home" class="header">
<%- include("../partials/header"); %>
</header>

<main>
<div id="services" class="services">
    <%- include("../partials/services"); %>
</div>
<div id="details" class="details">
    <%- include("../partials/details"); %>
</div>
<div id="contact" class="episkepsi">
    <%- include("../partials/episkepsi"); %>
</div>
</main>
<footer class="footer">
    <%- include("../partials/footer"); %>
</footer>

   <!---------------------------Scripts----------------------------------------------->
   <script src="https://kit.fontawesome.com/6f9fb28277.js" crossorigin="anonymous"></script>
   <script src="./js/services.js"></script>
   <script src="./js/menu.js"></script>
</body>
</html>