<!DOCTYPE html>
<html lang="en">
<head>
<%- include ("../partials/head"); %>
</head>
<body>
<nav class="nav">
 <%- include ("../partials/navlogin"); %>
</nav>
<header class="header">
    <%- include ("../partials/header"); %>
    </header>
    <div class="aside">
        <%- include ("../partials/asideposts"); %>
    </div>
    <div class="aside2">
        <%- include ("../partials/asideflexend"); %>
    </div>
    
<div class="body-container">
    <div class="posts">
    <div class="top-posts">
    <%- include ("../partials/centerposts"); %>
    </div>
    <div class="posts-center">
            <div class="center">
                <%- include ("../partials/centerposts"); %>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <%- include ("../partials/footer"); %>
</footer>
</body>
</html>